# Kubernetes configuration
POD_NETWORK_CIDR: 10.244.0.0/16

# Flannel configuration
#   mandatory in the vagrant environment
FLANNELD_IFACE: eth1

# Docker insecure registry
#  make sure the address is included in no_proxy
INSECURE_REGISTRY: 192.168.33.10:5000

# NFS server for PersistentVolume
NFS_SERVER: 192.168.33.10
NFS_EXPORT_DIR: /home/nfs

# working directory for the demo apps
KUBE_WORK_DIR: /tmp/kube-work
# image names of the demo apps
APPS_POSTGRES_IMAGE: "{{ INSECURE_REGISTRY }}/pcmkdemo/postgres:0.1"
APPS_HTTPD_IMAGE: "{{ INSECURE_REGISTRY }}/pcmkdemo/httpd:0.1"

# VirtualBMC configuration
# virtualenv directory path
VBMC_VENV_DIR: ./venv-vbmc
# Network interface for IPMI ports
VBMC_IPMI_IF: vboxnet0

# proxy configuration; define if necessary
#  change no_proxy accordingly for the pod network and the host network
#  10.96.0.0/12 is used by kubeadm internally. (see --service-cidr)
#
#  Note:
#  This is used both for the docker configs and for 
#  the system wide configs (/etc/environment) for kubeadm.
#
#  Docker/kubeadm should accept wildcards/CIDR in no_proxy
#  but it would not work for some other applications such as curl.
#    See. https://docs.docker.com/network/proxy/
#
#  List up all IP addresses indivisually for each nodes to no_proxy
#  in order to use curl for testing the connection as described in
#  the kubernetes-bootcamp tutorial, or unset http_proxy whenever you run curl.
#USE_PROXY:
#  - http_proxy=http://xxx.xxx.xxx.xxx:8080/
#  - https_proxy=http://xxx.xxx.xxx.xxx:8080/
#  - no_proxy=localhost,127.0.0.1,10.96.0.0/12,10.244.0.0/16,192.168.33.10,192.168.33.101,192.168.33.102

