[defaults]
# human-readable stdout/stderr results display
#  see. https://github.com/ansible/ansible/issues/27078
#stdout_callback = debug
stdout_callback = yaml
# alternatively, set environment variable
# export ANSIBLE_STDOUT_CALLBACK=yaml

retry_files_enabled = False
# suppress depricate warnings on ansible-2.8+
#  see. https://docs.ansible.com/ansible/latest/reference_appendices/config.html#transform-invalid-group-chars
force_valid_group_names = ignore


# Vagrant ssh config
#  see also hosts.vagrant.sample
remote_user = vagrant
host_key_checking = False
inventory = ./hosts
