[k8s-master]
master

[k8s-workers]
worker1
worker2

[docker-registry]
master

[nfs-server]
master

# Use specified IP address for each nodes
# See: https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#using-internal-ips-in-your-cluster
[hostvars-k8s]
master NODE_IP=192.168.33.10
worker1 NODE_IP=192.168.33.101
worker2 NODE_IP=192.168.33.102

# ansible-pacemaker configuration
[hacluster]
worker1
worker2

# ansible-virtualbmc configuration
[hacluster-vbmc]
worker1 IPMI_IP=192.168.33.91 IPMI_USER=pacemaker IPMI_PASS=pacemakerpass1
worker2 IPMI_IP=192.168.33.92 IPMI_USER=pacemaker IPMI_PASS=pacemakerpass1

# Vagrant configuration
[hostvars-vagrant]
master ansible_host=192.168.33.10 ansible_user='vagrant' ansible_ssh_private_key_file='./vagrant/.vagrant/machines/master/virtualbox/private_key'
worker1 ansible_host=192.168.33.101 ansible_user='vagrant' ansible_ssh_private_key_file='./vagrant/.vagrant/machines/worker1/virtualbox/private_key'
worker2 ansible_host=192.168.33.102 ansible_user='vagrant' ansible_ssh_private_key_file='./vagrant/.vagrant/machines/worker2/virtualbox/private_key'
